<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>resgister</title>
    {%csrf_token%}
    <a href="http://localhost:8000/index" type="button">index</a>
</head>
<body>

   
    {%csrf_token%}




    <script>
var errorName = true
var errorPwd = true
var errorConfirmPwd = true
var errorCheckout = false
var errorEmail = true
$(function () {
    //失去焦点时检验合法性
    $('#user_name').blur(function () {
        checkName()
    })
    $('#pwd').blur(function () {
        checkPwd()
    })
    $('#cpwd').blur(function () {
        checkConfirmPwd()
    })
    $('#email').blur(function () {
        checkEmail()
    })
    // 判断用户是否同意协议
    $('#allow').click(function() {
        console.log('sbsbsbsbs')

		if($(this).is(':checked'))
		{
			errorCheckout = false;
			$(this).siblings('span').hide();
		}
		else
		{
			errorCheckout = true;
			$(this).siblings('span').html('请勾选同意');
            console.log('sbsbsbsbs')
			$(this).siblings('span').show();
		}
	});

});
//检验用户名的合法性
function checkName() {
    console.log('进入checkname')
    name = $('#user_name').val().length;
    if (name==0){
        $('#user_name').next().html('用户名不能为空');
        $('#user_name').next().show();
                                                                            console.log('call if ')
        errorName = true
        return;
    }
    else if(name > 15){
        $('#user_name').next().html('用户名不能超过20个字符')
        $('#user_name').next().show();
                                                                         console.log('call else if ')
        errorName = true
        return;
    }
        var username = $('#user_name').val();
        // 发起ajax请求，判断用户名是否已经注册过
        $.getJSON('/user/check_user/',{username:username}, function (data) {
            if (data.status=='fail'){                                       console.log('call show ')
                $('#user_name').next().html(data.msg);
                                                                                console.log(data.msg)
                                                                                // alert(data.msg)
                $('#user_name').next().show();
                errorName = true
            }
            else {
                $('#user_name').next().hide();
                errorName = false
            }
        })
    
}
//检验密码的合法性
function checkPwd() {
    console.log('检查密码')
    pwdLength = $('#pwd').val().length;
    if(pwdLength<6 || pwdLength > 20){
        console.log('检查密码')
        $('#pwd').next().html('密码长度最少6位，最长12位')
        $('#pwd').next().show()
        errorPwd = true
        return;
    }
    else {
        $('#pwd').next().hide()
        errorPwd = false
        return;
    }
}
//检验两次输入密码是否一致
function checkConfirmPwd() {
    pwd = $('#pwd').val();
    cpwd = $('#cpwd').val();
    if(pwd != cpwd){
        $('#cpwd').next().html('两次密码输入不一致')
        $('#cpwd').next().show()
        errorConfirmPwd = true
    }
    else {
        $('#cpwd').next().hide()
        errorConfirmPwd  = false
    }
}
//检验手机号码
function checkEmail() {
    var re = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;

		if(re.test($('#email').val()))
		{
			$('#email').next().hide();
			errorEmail = false;
		}
		else
		{
			$('#email').next().html('你输入的邮箱格式不正确')
			$('#email').next().show();
			errorEmail = true;
		}
}
//发送post请求时在进行检验输入合法性
$(function () {
    $('#reg_form').submit(function () {
    //     alert('jiance')
    checkName()
    checkPwd()
    checkConfirmPwd()
    checkEmail()
    if(errorName == false && errorPwd == false && errorConfirmPwd == false &&errorEmail == false && errorCheckout==false){
        // 验证成功，提交
        return true
    }
    // 验证不成功，阻止表单的默认行为。
    return false

})
})

    </script>


    <div class="reg_form clearfix">
    <form action="" method="post" id="reg_form" >
        {% csrf_token %}
    <ul>
        <li>
<label>username</label>
<input type="text" name="user_name" id="user_name">
<span class="error_tip">提示信息</span>

    </li>

    <li>
        <label>password</label>
        <input type="password" name="pwd" id="pwd">
        <span class="error_tip">提示信息</span>
        
            </li>

            <li>
                <label>confirmPassword</label>
                <input type="password" name="cpwd" id="cpwd">
                <span class="error_tip">提示信息</span>
                
                    </li>
                    <li>
                        <label>email</label>
                        <input type="text" name="email" id="email">
                        <span class="error_tip">提示信息</span>
                        
                            </li>

                            <li>
                                <label>age</label>
                                <input type="number" name="age" id="age">
                                <span class="error_tip">提示信息</span>
                                
                                    </li>
                                    <li>
                                        <label>date</label>
                                        <input type="number" name="date" id="date">
                                        <span class="error_tip">提示信息</span>
                                        
                                            </li>
                                            <!-- <li>
                                                <label>time</label>
                                                <input type="time" name="time" id="time">
                                                
                                                    </li> -->
                                                    <li>
                                                        <label>IMG</label>
                                                        <input type="file" name='userimg' id="userimg">

                                                        
                                                    </li>
                            <li class="agreement">
                                <input type="checkbox" name="allow" id="allow" checked="checked">
                                <label> agreement with giaogiao promote</label>
                                <span class="error_tip2"></span>
                            </li>

                            <li class="reg_sub">
                                <input type="submit" value="resgister" >
                            </li>
                        </form>
                    </div>
                            <li>
                                <p style="color: royalblue;">{{ errmsg }}</p>
                            </li>


                            <li><img src="{{MEDIA_URL}}{{userinformation.userImg}}" alt="aaa"></li>
                            <li><img src="{{icon}}" alt="aaa"></li>
</ul>




</body>
</html>

