<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

   
    
</head> 

<body><li>
   这是index
</li>
  

   <input type="button" value="tijiao">

<div>
   
   <a href="/info_list" value="提交" target="_blank" rel="noopener noreferrer" class="btn btn-primary" >tijao
   </a>
<li>
   
  
      <li><a href="/user/register" type="button">register</li>

</li>

<li>
   <a href="/jiangye/jiangyeapp/templates/testjs.html">search</a>
</li>
</div>
</body>
</html>