<!DOCTYPE html>
<html lang="en">
    {% load bootstrap5 %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/css/bootstrap-5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1>添加</h1>
        <input type="text" name="user" placeholder="用户名">
        <input type="text" name="pwd" placeholder="密码">
        <input type="text" name="age" placeholder="年龄">
        <input type="submit" value="提交" rel="noopener noreferrer" class="btn btn-primary">
        
    
    </form>
</body>
</html>
