<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>

    <!--引用图片相对路径写法！！！！！！！！！！！-->
    <img src="\static\images\cat.jpg">
    <img src='\static\images\dog.jpg'>
    <img src='\static\images\dog.jpg'>
    <img src='\media\aaa.jpg'>
    <img src="/jiangye/media/userImg/userImg">

    
    <!--<img src='"C:\Users\Administrator\workspace\jiangye\jiangye\jiangyeapp\media\aaa.jpg"'>-->
   
    



    
</body>
</html>