<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testjs</title>
    
{% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href='/static/plugins/bootstrap-5.2.0-beta1-dist/css/bootstrap.css'>
<script src="/static/plugins/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script>
    <!-- <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script> -->
</head>
<body>

 <!-- <li><a href="index.html" ></li>
 <li><input href="index.html" type="button"></li> -->
 this is testjs
 
 <a href="http://localhost:8000/index" type="button">index</a>
 <a href="http://localhost:8000/user/register" type="button">register</a>
 

 <div>
  {% if user.is_authenticated %}

  <a>giaogiaogiao</a>
  <li>
       {{ request.user.username }}
       {{ request.user.email }}
    <img src="{{ MEDIA_URL }}{{ user.userImg}}"+ alt="">
  </li>

  <a href="{%url  'user:logout' %}">logout</a>
  {% else %}
  123123

  {% endif %}
 </div>


  <div class="body">
    <div class="input">
      <input type="text" placeholder="placeholder" id="input" />
    </div>

    <div class="submit">
      <button onclick="clickFunOne()">YouTube</button>
      <button onclick="clickFunTwo()">post</button>
    </div>
  </div>


  <script>
    function clickFunOne() {
	 console.log('one click');
	 console.log(document.getElementById('input').value);

  console.log(document.getElementById('input').value);
  // const text1 = document.getElementById('input').value
  // console.log(text1 + text1)
	$.ajax({
    type: 'POST',
		url: '',
		data: {
  
      n1: $("#input").val(),},
		success: function(result) {
      if(result){
        // window.location.href='https://www.javbus.com/'
        // window.location.href='/test/'
        $(document.body).html(result);

      }
			console.log(result);
      
		}
	});
}

function clickFunTwo() {
  console.log('otwo click');
  console.log(document.getElementById('input').value);
  const text = document.getElementById('input').value
  console.log(text)
	$.ajax({
    type: 'POST',
		url: '',
		data: {
  
      n2: $("#input").val(),},
		success: function(result) {
      if(result){
        // window.location.href='https://www.javbus.com/uncensored/star/sfy'
        // window.location.href='/test1/'
        $(document.body).html(result);


      }
			console.log(result);
      
      
		}
	});
}



  </script>


<div>
  {% for obj in moviesdata %}
  <div class="card" style="width: 18rem">
    {{ obj.movieType}}
    <li>{{ obj.movieActor }}</li>
    <img class="card-img-top" width="255" height="me-auto" src="{{ obj.imageUrl }}">
    <h3 class="card-title">{{ obj.movieName }}</h3>
    <h3><a type="button" href="{{ obj.movieId }}" class="btn btn-primary">view</a></h3>
    <h3>rank:{{ obj.movieRank}}</h3>
    {% endfor %}
  </div>

</div>

   
<!--
  youtube
-->
{% for video in videos %}
<div class="card" style="width: 18rem">

    <img class="card-img-top" width="255" height="me-auto" src="{{ video.thumbnail }}">
    <h3 class="card-title">{{ video.title }}</h3>
    <h3><a type="button" href="{{ video.url }}" class="btn btn-primary">view</a></h3>
   <h3>{{ video.duration }} mins</h3>
      {% endfor %}
  </div>
 <!--
  youtube
-->


</body>
</html>