<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href='/static/plugins/bootstrap-5.2.0-beta1-dist/css/bootstrap.css'>
<script src="/static/plugins/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script> -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<html lang="en">
  <script src="https://cdn.tiny.cloud/1/77cu9iec3wu665q3y1v12jb7yd384z3gt7tjd1p4luqqi1ia/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test1</title>
  <div>
    {% if user.is_authenticated %}
  
    <a>giaogiaogiao</a>
    <li>
         {{ request.user.username }}
         {{ request.user.email }} }}
         {{ request.user.email }}
      <img src="{{ MEDIA_URL }}{{ user.userImg}}"+ alt="">
    </li>
  
    <a href="{%url  'user:logout' %}">logout</a>
    {% else %}
    123123
  
    {% endif %}
   </div>




   <style>
    .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
   
  /* 创建两列 */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 100%;
  }
   
  /* 右侧栏 */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
   
  /* 图像部分 */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 40px;
  }
   
  /* 文章卡片效果 */
  .card {
    background-color: white;
    padding: 100px;
    margin-top: 500px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
}
.button-dropdown {
    background: transparent;
    color: #2962FF;
    margin: 0;
}
.button-dropdown:hover {
    background-color: #82B1FF;
}
.dropdown-content {
    display: block;
    opacity: 0;
    position: absolute;
    background-color: white;
    min-width: 140px;
    z-index: 114514;
    right: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.dropdown:hover .dropdown-content {
    opacity: 1;
    pointer-events: all;
}
.dropdown-content > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-content > ul > li {
    cursor: pointer;
}
.dropdown-content div {
    background-color: white;
    transition: all 0.3s ease;
}
.dropdown-content div:hover {
    background-color: #2962FF;
    color: white;
}
.dropdown-content div:active {
    background-color: #82B1FF;
}
.dropdown-content a > div {
    padding: 5px 10px;
    color: black;
    font-size: 14px;
}
.dropdown-content * {
    margin: 0;
}
  /* 列后面清除浮动 */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
   
  /* 底部 */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
   
  /* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
   
  /* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  </style>
<input id="userId" style="display: none;" value="{{request.user.userid}}">
<div id="loading" style="z-index:2000;width:100%;display:none;height: 900px;position: absolute;background-color: gray;opacity: 0.5;">
  <img src="http://localhost:8000/static/images/loading.gif" style="width:60px;height:60px;position: absolute;margin-left: 50%;margin-top: 300px;">

</div>
{% for obj in moviesdata %}
<div class="row">
  <div class="leftcolumn">
    
    <div class="card" >

     
      
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="255" height="255"  src="{{ obj.imdbposter }}" onerror="this.src='/static/images/cat.jpg'"/>
      <h2 class="featurette-heading">{{obj.title}} <span class="text-muted"></span></h2>
        <p class="lead" ><span class="text-muted">movieType:</span>{{ obj.imdbgenre}}</p>
         <p class="lead"> <span class="text-muted">title:</span>{{obj.title}}</p>
         <p class="lead"> <span class="text-muted">language:</span>{{obj.imdblanguage}}</p>
         <p class="lead"> <span class="text-muted">country:</span>{{obj.imdbcountry}}</p>
        
        <!-- <p class="lead"> <span class="text-muted">synopsis:</span>{{obj.synopsis}}</p> -->
        <p class="lead"> <span class="text-muted">Movie viewing suggestions:</span>{{obj.matlabel}}</p>
        <p class="lead"> <span class="text-muted">matlevel:</span>{{obj.matlevel}}</p>
        <p class="lead"> <span class="text-muted">avg rating:</span>{{obj.avgrating}}</p>
        <p class="lead"> <span class="text-muted">Movie Introduction:</span>{{obj.imdbplot}}</p>
        <p class="lead"> <span class="text-muted">movie runtime:</span>{{obj.imdbruntime}}</p>
        <p class="lead"> <span class="text-muted">release date:</span>{{obj.year}}</p>
        <!-- <p class="lead"> <span class="text-muted">nfdate:</span>{{obj.nfdate}}</p> -->
        <!-- <p class="lead"> <span class="text-muted">curdate:</span>{{obj.curdate}}</p> -->




        
      <h3><a type="button" href="{{ obj.movieId }}" target="_blank" class="btn btn-primary">view imdb</a></h3>
      <h3><a type="button" href="{{ obj.natflix }}" target="_blank" class="btn btn-primary">view natflix</a></h3>
      <h3><a type="button" onclick="add2watchlist('{{obj.id}}')" target="_blank" class="btn btn-primary">add to watch list</a></h3>

      
        {% csrf_token%}
       rating:<p><input type="number" name="save_number" value="0" placeholder="number"></p>
       <input type="text" style="display: none;" name="id" placeholder="{{obj.id}}" value="{{obj.id}}"></p>
  
       Blog title: <p><input type="text" name="title" placeholder="{{obj.title}}" value="{{obj.title}}"></p>
  <p>
          <textarea id="mytextarea_{{obj.id}}" name="context">Hello, World!</textarea>
        </p>
        
        <p><button onclick="publish_my('{{obj.id}}')">publish</button></p>
      
      </div>
      
        
       
      
    </div>
    {% endfor %}

   

  </div>















   <script>
    tinymce.init({
      selector: '#mytextarea',
      // 'theme':'advanced',
      plugins: 'image', //使用image插件
      toolbar: 'image', //工具栏显示
      images_upload_url:'media/img',
      images_file_types: 'jpg,svg,webp',
      height: 300,
      width: 500,
      resize: 'both'

    });
  </script>






  <a href="http://localhost:8000/index" type="button">index</a>
<li>li----test1</li>

<!-- <li><a href="http://localhost:8000/index" type="button">index</li> -->

  <!-- <div class="body">
    <div class="input">
      <input type="text" placeholder="placeholder" id="input" >
    </div>
  
    <div class="submit">
      <button onclick="clickFunOne()">YouTube</button>
      <button onclick="clickFunTwo()">post</button>
    </div>
  </div> -->


<script>
  function publish_my(id){
    var context=$("#mytextarea_"+id).val()
    $.ajax({
      type: 'POST',
      url: '/post',
      data: {
        id: id,
        context:context
      },
      success: function(result) {
        if(result.code==200){
          alert('publish successly')
        }else if(result.code==500){
          alert('There are inappropriate words in the content you are about to post. ')
        }else{
          alert('please login')
        }
      }
    });
  }
  function add2watchlist(a){
    var userid=$("#userId").attr('value')
    var movieId=a
    $.ajax({
      type: 'POST',
      url: '/user/add2watchlist',
      data: {
        userId: userid,
        movieId:movieId
      },
      success: function(result) {
        if(result.code==200){
          
          alert('add to watch list success')

        }else{
          alert('the movie has been added!!! ')
        }
        console.log(result);
        
      }
    });
}
      function clickFunOne() {
       console.log('one click');
       console.log(document.getElementById('input').value);
     $("#loading").attr('style',"z-index:2000;width:100%;display:block;height: 2000px;position: absolute;background-color: gray;opacity: 0.5;");
    
    console.log(document.getElementById('input').value);
    // const text1 = document.getElementById('input').value
    // console.log(text1 + text1)
      $.ajax({
      type: 'POST',
          url: '/testjs/',
          data: {
    
        n1: $("#input").val(),},
          success: function(result) {
        if(result){
          // window.location.href='https://www.javbus.com/'
          // window.location.href='/test/'
          $(document.body).html(result);
  
        }
      
        $("#loading").attr('style',"z-index:2000;width:100%;display:none;height: 2000px;position: absolute;background-color: gray;opacity: 0.5;");
    
          }
      });
  }
  
  function clickFunTwo() {
    $("#loading").attr('style',"z-index:2000;width:100%;display:block;height: 2000px;position: absolute;background-color: gray;opacity: 0.5;");
    console.log('otwo click');
    console.log(document.getElementById('input').value);
    const text = document.getElementById('input').value
    console.log(text)
      $.ajax({
      type: 'POST',
          url: '/testjs/',
          data: {
    
        n2: $("#input").val(),},
          success: function(result) {
        if(result){
          // window.location.href='https://www.javbus.com/uncensored/star/sfy'
          // window.location.href='/test1/'
          $(document.body).html(result);
  
  
        }
        $("#loading").attr('style',"z-index:2000;width:100%;display:none;height: 2000px;position: absolute;background-color: gray;opacity: 0.5;");
              console.log(result);
        
        
          }
      });
  }
  
  
  
    </script>





  {% for video in videos %}
  
  <div class="col-lg-1 col-md-2 mb-4 mb-lg-0">
    

    <a class="ripple" href="{{ video.url }}">
      <img
        class="img-fluid rounded"
        class="img-fluid rounded-circle"
        src="{{ video.thumbnail }}"
      />
    </a>
    
    {{ video.title }}
    <a type="button" href="" class="btn btn-sm btn-outline-secondary">view</a>
    {{ video.duration }}
    {% endfor %}
    
</div>

    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    <div id="loading" style="z-index:2000;width:100%;display:none;height: 900px;position: absolute;background-color: gray;opacity: 0.5;">
      <img src="http://localhost:8000/static/images/loading.gif" style="width:60px;height:60px;position: absolute;margin-left: 50%;margin-top: 300px;">
    
    </div>
  
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="http://localhost:8000/superindex">superindex</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="http://localhost:8000/moviesForum/index/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/user/register">register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/moviesForum/index/">forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="http://localhost:8000/index" tabindex="-1" aria-disabled="true">index</a>
          </li>
          <li>
            
          </li>
        </ul>
        
        <div class="d-flex" style="width:25%">
          
           <input  style="width:71%" class="form-control me-2" type="text" placeholder="placeholder" id="input" >
        
        
          <div class="submit">
            <button class="btn btn-outline-success" onclick="clickFunOne()">YouTube</button>
            <button class="btn btn-outline-success" style="width: 90px;" onclick="clickFunTwo()">post</button>
          </div>
        </div>
       <div style="width:30%"></div>
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="button-dropdown"><a style="color:white;">welcome {{ request.user.username }}</a></button>
            <div class="dropdown-content">
                <ul>
                    <li><a href="/user/{{ request.user.username }}"><div>Personal homepage</div></a></li>
                    <li><a href="/user/watchList/{{ request.user.username }}"><div>watch list</div></a></li>
                    
                    
                    <div class="hr" style="margin: 4% 3px;"></div>
                    <li><a href="http://localhost:8000/user/login"><div class="logout-button">log out</div></a></li>
                </ul>
            </div>
        </div>
    {% else %}
        
        <a href="http://localhost:8000/user/login/" class="a-button"><button class="button-white">登录</button></a>
        <a href="http://localhost:8000/user/register/" class="a-button"><button>注册</button></a>
    {% endif %}
      </div>
    </div>
  </nav>
</header>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  <style>
    .search {
      width: 100%;
      position: relative;
      display: flex;
    }

    .searchTerm {
      width: 100%;
      border: 3px solid #00B4CC;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
    }

    .searchTerm:focus {
      color: #00B4CC;
    }

    .searchButton {
      width: 40px;
      height: 36px;
      border: 1px solid #00B4CC;
      background: #00B4CC;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style> 
</head>
<body>
   

  
  
    {% for obj in moviesdata %}
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{obj.title}} <span class="text-muted"></span></h2>
          <p class="lead" ><span class="text-muted">movieType:</span>{{ obj.imdbgenre}}</p>
           <p class="lead"> <span class="text-muted">title:</span>{{obj.title}}</p>
           <p class="lead"> <span class="text-muted">language:</span>{{obj.imdblanguage}}</p>
           <p class="lead"> <span class="text-muted">country:</span>{{obj.imdbcountry}}</p>
          
          <!-- <p class="lead"> <span class="text-muted">synopsis:</span>{{obj.synopsis}}</p> -->
          <p class="lead"> <span class="text-muted">Movie viewing suggestions:</span>{{obj.matlabel}}</p>
          <p class="lead"> <span class="text-muted">matlevel:</span>{{obj.matlevel}}</p>
          <p class="lead"> <span class="text-muted">avg rating:</span>{{obj.avgrating}}</p>
          <p class="lead"> <span class="text-muted">Movie Introduction:</span>{{obj.imdbplot}}</p>
          <p class="lead"> <span class="text-muted">movie runtime:</span>{{obj.imdbruntime}}</p>
          <p class="lead"> <span class="text-muted">release date:</span>{{obj.year}}</p>
          <!-- <p class="lead"> <span class="text-muted">nfdate:</span>{{obj.nfdate}}</p> -->
          <!-- <p class="lead"> <span class="text-muted">curdate:</span>{{obj.curdate}}</p> -->
  
  
  
  
          
        <h3><a type="button" href="{{ obj.movieId }}" target="_blank" class="btn btn-primary">view imdb</a></h3>
        <h3><a type="button" href="{{ obj.natflix }}" target="_blank" class="btn btn-primary">view natflix</a></h3>
  
        <form action="{% url 'post' %}" method="post">
          {% csrf_token%}
          <p><input type="number" name="save_number" value="0" placeholder="number"></p>
         
    
          <p><input type="text" name="title" placeholder="inputyouidea" style="width:200px; height:200px;margin:0 auto;"></p>
    <p>
            <textarea id="mytextarea" name="context">Hello, World!</textarea>
          </p>
          
          <p><input type="submit" value="publish"></p>
        </form>
        </div>
        <div class="col-md-5">
          
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="255" height="255"  src="{{ obj.imdbposter }}" onerror="this.src='/static/images/cat.jpg'"/>
        </div>
      </div>
      {% endfor %}
  
     
  
    </div>
  
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>&copy; Xuyangzheng &middot; <a href="https://github.com/Xuyangzheng1/JiangyeDemo/tree/master">MyGithub</a>
    </footer>
{% for video in videos %}
<div class="card" style="width: 18rem">

    <img class="card-img-top" width="255" height="me-auto" src="{{ video.thumbnail }}">
    <h3 class="card-title">{{ video.title }}</h3>
    <h3><a type="button" href="{{ video.url }}" class="btn btn-primary">view</a></h3>
   <h3>{{ video.duration }} mins</h3>
      {% endfor %}
  </div>
 <!--
  youtube
-->

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-5 g-4">
      {% for video in videos %}
      <div class="col">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>1111111</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">T1111111</text></svg> -->
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.thumbnail }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>1111111</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">T1111111</text></svg>
          <div class="card-body">
            <p class="card-text">111</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
     
    </div>....
  </div>
  {% endfor %}
</div>

</main>





  </body>

</html>