<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href='/static/plugins/bootstrap-5.2.0-beta1-dist/css/bootstrap.css'>
<script src="/static/plugins/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script> -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<html lang="en">
  <script src="https://cdn.tiny.cloud/1/77cu9iec3wu665q3y1v12jb7yd384z3gt7tjd1p4luqqi1ia/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test1</title>
  <div>
    {% if user.is_authenticated %}
  
    <a>giaogiaogiao</a>
    <li>
         {{ request.user.username }}
         {{ request.user.email }}
      <img src="{{ MEDIA_URL }}{{ user.userImg}}"+ alt="">
    </li>
  
    <a href="{%url  'user:logout' %}">logout</a>
    {% else %}
    123123
  
    {% endif %}
   </div>




   <script>
    tinymce.init({
      selector: '#mytextarea',
      // 'theme':'advanced',
      plugins: 'image', //使用image插件
      toolbar: 'image', //工具栏显示
      images_upload_url:'media/img',
      images_file_types: 'jpg,svg,webp',
      height: 300,
      width: 300,
      resize: 'both'

    });
  </script>






  <a href="http://localhost:8000/index" type="button">index</a>
<li>li----test1</li>

<!-- <li><a href="http://localhost:8000/index" type="button">index</li> -->

  <!-- <div class="body">
    <div class="input">
      <input type="text" placeholder="placeholder" id="input" >
    </div>
  
    <div class="submit">
      <button onclick="clickFunOne()">YouTube</button>
      <button onclick="clickFunTwo()">post</button>
    </div>
  </div> -->


<script>
  function clickFunOne() {
 console.log('one click');
 console.log(document.getElementById('input').value);

console.log(document.getElementById('input').value);
// const text1 = document.getElementById('input').value
// console.log(text1 + text1)
$.ajax({
  type: 'POST',
  url: '',
  data: {

    n1: $("#input").val(),},
  success: function(result) {
    if(result){
      // window.location.href='https://www.javbus.com/'
      // window.location.href='/test/'
      $(document.body).html(result);

    }
    console.log(result);
    
  }
});
}

function clickFunTwo() {
console.log('otwo click');
console.log(document.getElementById('input').value);
const text = document.getElementById('input').value
console.log(text)
$.ajax({
  type: 'POST',
  url: '',
  data: {

    n2: $("#input").val(),},
  success: function(result) {
    if(result){
      // window.location.href='https://www.javbus.com/uncensored/star/sfy'
      // window.location.href='/test1/'
      $(document.body).html(result);


    }
    console.log(result);
    
    
  }
});
}



</script>





  {% for video in videos %}
  
  <div class="col-lg-1 col-md-2 mb-4 mb-lg-0">
    

    <a class="ripple" href="{{ video.url }}">
      <img
        class="img-fluid rounded"
        class="img-fluid rounded-circle"
        src="{{ video.thumbnail }}"
      />
    </a>
    
    {{ video.title }}
    <a type="button" href="" class="btn btn-sm btn-outline-secondary">view</a>
    {{ video.duration }}
    {% endfor %}
    
</div>

    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Carousel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="input">
          <button class="btn btn-outline-success" type="submit">Search</button>
           <div class="submit">
            <button class="btn btn-outline-success" onclick="clickFunOne()">YouTube</button>
            <button class="btn btn-outline-success" onclick="clickFunTwo()">post</button>
          </div> 
        </form> -->
        <div class="d-flex">
          
           <input class="form-control me-2" type="text" placeholder="placeholder" id="input" >
        
        
          <div class="submit">
            <button class="btn btn-outline-success" onclick="clickFunOne()">YouTube</button>
            <button class="btn btn-outline-success" style="width: 90px;" onclick="clickFunTwo()">post</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>





  {% for obj in moviesdata %}
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{obj.title}} <span class="text-muted"></span></h2>
        <p class="lead" ><span class="text-muted">movieType:</span>{{ obj.imdbgenre}}</p>
         <p class="lead"> <span class="text-muted">title:</span>{{obj.title}}</p>
         <p class="lead"> <span class="text-muted">language:</span>{{obj.imdblanguage}}</p>
         <p class="lead"> <span class="text-muted">country:</span>{{obj.imdbcountry}}</p>
        
        <!-- <p class="lead"> <span class="text-muted">synopsis:</span>{{obj.synopsis}}</p> -->
        <p class="lead"> <span class="text-muted">Movie viewing suggestions:</span>{{obj.matlabel}}</p>
        <p class="lead"> <span class="text-muted">matlevel:</span>{{obj.matlevel}}</p>
        <p class="lead"> <span class="text-muted">avg rating:</span>{{obj.avgrating}}</p>
        <p class="lead"> <span class="text-muted">Movie Introduction:</span>{{obj.imdbplot}}</p>
        <p class="lead"> <span class="text-muted">movie runtime:</span>{{obj.imdbruntime}}</p>
        <p class="lead"> <span class="text-muted">release date:</span>{{obj.year}}</p>
        <!-- <p class="lead"> <span class="text-muted">nfdate:</span>{{obj.nfdate}}</p> -->
        <!-- <p class="lead"> <span class="text-muted">curdate:</span>{{obj.curdate}}</p> -->




        
      <h3><a type="button" href="{{ obj.movieId }}" target="_blank" class="btn btn-primary">view imdb</a></h3>
      <h3><a type="button" href="{{ obj.natflix }}" target="_blank" class="btn btn-primary">view natflix</a></h3>

      <form action="{% url 'post' %}" method="post">
        {% csrf_token%}
        <p><input type="number" name="save_number" value="0" placeholder="number"></p>
       
  
        <p><input type="text" name="title" placeholder="inputyouidea"></p>
  <p>
          <textarea id="mytextarea" name="context">Hello, World!</textarea>
        </p>
        
        <p><input type="submit" value="publish"></p>
      </form>
      </div>
      <div class="col-md-5">
        
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="255" height="255"  src="{{ obj.imdbposter }}" onerror="this.src='/static/images/cat.jpg'"/>
      </div>
    </div>
    {% endfor %}

    <!-- <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">testq <span class="text-muted">testw</span></h2>
        <p class="lead">testc</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider"> -->

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; Xuyangzheng &middot; <a href="https://github.com/Xuyangzheng1/JiangyeDemo/tree/master">MyGithub</a>
  </footer>
</main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  <!-- -=-=-=//////////////////////////////////////////////////////////////////////////////// &middot; <a href="#">Terms</a></p>///////test area/////////////////////////////////// -->
-->
-->











  

  <!-- <div>
    {% for obj in moviesdata %}
    <div class="card" style="width: 70rem">

      <li>{{obj.actor}}</li>



      {{ obj.movieType}}
      {{obj.title}}
      <li>{{ obj.movieActor }}</li>
      <li>{{obj.synopsis}}</li>
      <li>{{obj.matlabel}}</li>
      <li>{{obj.matlevel}}</li>
      <li>{{obj.avgrating}}</li>
      <li>{{obj.imdbplot}}</li>
      <li>{{obj.imdbruntime}}</li>
      <li>{{obj.year}}</li>
      <li>{{obj.nfdate}}</li>
      <li>{{obj.curdate}}</li>
      <li>{{obj.actor}}</li>
      <li>{{obj.}}</li>

      

      <img class="card-img-top" width="255" height="me-auto" src="{{ obj.imdbposter }}">
      <h3 class="card-title">{{ obj.movieName }}</h3>
      <h3><a type="button" href="{{ obj.movieId }}" class="btn btn-primary">view imdb</a></h3>
      <h3><a type="button" href="{{ obj.natflix }}" class="btn btn-primary">view natflix</a></h3>
      {% for a in moviesdataactor %}
       <h3><a type="button" href="{{ a.actor }}" class="btn btn-primary">{{ a.actor }}</a></h3> -->
      
<!-- {% endfor %}
<h3>rank:{{ obj.movieRank}}</h3>


      {% endfor %}

  


    </div>

  </div> --> 



<!-- 

  <div class="card" style="width: 18rem">
    <img src="/static/images/cat.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">title</h5>
      <p class="card-text">
        dasda
      </p>
      <a href="#" class="btn btn-primary">sda</a>

    </div>



  </div>




 -->












  




  <style>
    .search {
      width: 100%;
      position: relative;
      display: flex;
    }

    .searchTerm {
      width: 100%;
      border: 3px solid #00B4CC;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
    }

    .searchTerm:focus {
      color: #00B4CC;
    }

    .searchButton {
      width: 40px;
      height: 36px;
      border: 1px solid #00B4CC;
      background: #00B4CC;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style> 

 



  <!-- Gallery 

  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="/static/images/cat.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
  
      <img
        src="/static/images/cat.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  
  
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href='/static/plugins/bootstrap-5.2.0-beta1-dist/css/bootstrap.css'>
<script src="/static/plugins/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script> -->
</head>
<body>

 
    














 


<!-- <div>
  {% for obj in moviesdata %}
  <div class="card" style="width: 18rem">
    {{ obj.movieType}}
    <li>{{ obj.movieActor }}</li>
    <img class="card-img-top" width="255" height="me-auto" src="{{ obj.imageUrl }}">
    <h3 class="card-title">{{ obj.movieName }}</h3>
    <h3><a type="button" href="{{ obj.movieId }}" class="btn btn-primary">view</a></h3>
    <h3>rank:{{ obj.movieRank}}</h3>
    {% endfor %}
  </div>

</div> -->

   
<!--
  youtube
-->
{% for video in videos %}
<div class="card" style="width: 18rem">

    <img class="card-img-top" width="255" height="me-auto" src="{{ video.thumbnail }}">
    <h3 class="card-title">{{ video.title }}</h3>
    <h3><a type="button" href="{{ video.url }}" class="btn btn-primary">view</a></h3>
   <h3>{{ video.duration }} mins</h3>
      {% endfor %}
  </div>
 <!--
  youtube
-->

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-5 g-4">
      {% for video in videos %}
      <div class="col">
        <div class="card shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>1111111</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">T1111111</text></svg> -->
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.thumbnail }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>1111111</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">T1111111</text></svg>
          <div class="card-body">
            <p class="card-text">111</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
     
    </div>....
  </div>
  {% endfor %}
</div>

</main>





  </body>

</html>