<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>{{n1}}</div>
    <div>{{n2}}</div>
    <div>{{n2.0}}</div>
    <div>{{n2.1}}</div>
    <div>{{n2.2}}</div>
    <div>{% for item in n2%}
        <span>{{item}}<br></span>
        {% endfor%}
    </div>
    <hr/>
    {{n3}}<br>
    {{n3.salary}}
    
    {% for item in n3.keys %}
<li>{{ item  }}</li>
    {% endfor%}

    <hr/>
    {{n3}}<br>
    {{n3.salary}}
    {% for item in n3.values %}
<li>{{ item  }}</li>
    {% endfor%}


    <hr/>
    {{n3}}<br>
    {{n3.salary}}
    {% for k,v in n3.items %}
<li>{{ k }} = {{ v }}</li>
    {% endfor%}
    <hr/>
    {{n4.0}}<br>
    {{n4.0.name}}
    {% for item in n4 %}
    <li>{{ item.name  }}</li>
        {% endfor%}
<hr>
{% if n1 == "giao"%}
<h1>giaogiao</h1>
{% elif n1 == "xxx"%}
<h1>23</h1>
{% else %}
<h1>火花！一给窝里giaogiao！</h1>
{% endif%}

<a href="/jiangye/jiangyeapp/templates/register.html"></a>


<div class="search-box">
    <input class="search-txt" type="text" placeholder="动态搜索框">
    <a class="search-btn">
    <!--这里是icon，我放的svg-->
    </a>
</div>


</body>
</html>